
sagittarius/.DS_Store
.DS_Store
.ipynb_checkpoints/setup-checkpoint.py
.ipynb_checkpoints/LICENSE-checkpoint
.ipynb_checkpoints/MANIFEST-checkpoint.in
sagittarius/.ipynb_checkpoints/__init__-checkpoint.py
sagittarius/.ipynb_checkpoints/sagittarius_properties-checkpoint.py
build/lib/sagittarius/__init__.py
build/lib/sagittarius/pickles/sgr_interpolator_a20_gal_pmlat.pkl
build/lib/sagittarius/pickles/sgr_interpolator_a20_gal_pmlong.pkl
build/lib/sagittarius/pickles/sgr_interpolator_ngc3_dist.pkl
build/lib/sagittarius/pickles/sgr_interpolator_ngc3_icrs_pmlat.pkl
build/lib/sagittarius/pickles/sgr_interpolator_ngc3_icrs_pmlong.pkl
build/lib/sagittarius/pickles/sgr_interpolator_ngc3_scale.pkl
build/lib/sagittarius/pickles/sgr_interpolator_strip_dist.pkl
build/lib/sagittarius/pickles/sgr_interpolator_strip_icrs_pmlat.pkl
build/lib/sagittarius/pickles/sgr_interpolator_strip_icrs_pmlong.pkl
build/lib/sagittarius/pickles/sgr_interpolator_strip_scale.pkl
build/lib/sagittarius/pickles/Sgr_pmdec_scale_interpolator_ngc3_t5d_lsrE_p25.pkl
build/lib/sagittarius/pickles/Sgr_pmdec_scale_interpolator_sky_20deg.pkl
build/lib/sagittarius/pickles/Sgr_pmra_scale_interpolator_ngc3_t5d_lsrE_p25.pkl
build/lib/sagittarius/pickles/Sgr_pmra_scale_interpolator_sky_20deg.pkl
build/lib/sagittarius/pickles/Sgr_RRLyr_Strip_mub_err.pkl
build/lib/sagittarius/pickles/Sgr_RRLyr_Strip_mul_err.pkl
build/lib/sagittarius/sagittarius_properties.py
dist/sagittarius_properties_brugalada-0.0.1-py3.8.egg
sagittarius/__pycache__/__init__.cpython-38.pyc
sagittarius/__pycache__/sagittarius_properties.cpython-38.pyc
sagittarius_properties_brugalada.egg-info/dependency_links.txt
sagittarius_properties_brugalada.egg-info/PKG-INFO
sagittarius_properties_brugalada.egg-info/requires.txt
sagittarius_properties_brugalada.egg-info/SOURCES.txt
sagittarius_properties_brugalada.egg-info/top_level.txt
tutorials/.ipynb_checkpoints/sagittarius_tutorial-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
interpolators/.ipynb_checkpoints/__init__-checkpoint.py
interpolators/.ipynb_checkpoints/sagittarius_properties-checkpoint.py
interpolators/__pycache__/__init__.cpython-38.pyc
interpolators/__pycache__/sagittarius_properties.cpython-38.pyc
build/lib/interpolators/__init__.py
build/lib/interpolators/pickles/sgr_interpolator_a20_gal_pmlat.pkl
build/lib/interpolators/pickles/sgr_interpolator_a20_gal_pmlong.pkl
build/lib/interpolators/pickles/sgr_interpolator_ngc3_dist.pkl
build/lib/interpolators/pickles/sgr_interpolator_ngc3_icrs_pmlat.pkl
build/lib/interpolators/pickles/sgr_interpolator_ngc3_icrs_pmlong.pkl
build/lib/interpolators/pickles/sgr_interpolator_ngc3_scale.pkl
build/lib/interpolators/pickles/sgr_interpolator_strip_dist.pkl
build/lib/interpolators/pickles/sgr_interpolator_strip_icrs_pmlat.pkl
build/lib/interpolators/pickles/sgr_interpolator_strip_icrs_pmlong.pkl
build/lib/interpolators/pickles/sgr_interpolator_strip_scale.pkl
build/lib/interpolators/pickles/Sgr_pmdec_scale_interpolator_ngc3_t5d_lsrE_p25.pkl
build/lib/interpolators/pickles/Sgr_pmdec_scale_interpolator_sky_20deg.pkl
build/lib/interpolators/pickles/Sgr_pmra_scale_interpolator_ngc3_t5d_lsrE_p25.pkl
build/lib/interpolators/pickles/Sgr_pmra_scale_interpolator_sky_20deg.pkl
build/lib/interpolators/pickles/Sgr_RRLyr_Strip_mub_err.pkl
build/lib/interpolators/pickles/Sgr_RRLyr_Strip_mul_err.pkl
build/lib/interpolators/sagittarius_properties.py
sagittarius_brugalada.egg-info/top_level.txt
sagittarius_brugalada.egg-info/SOURCES.txt
sagittarius_brugalada.egg-info/requires.txt
sagittarius_brugalada.egg-info/PKG-INFO
sagittarius_brugalada.egg-info/dependency_links.txt
dist/sagittarius_brugalada-0.0.1-py3.8.egg
build/lib/sagittarius/interpolators.py
sagittarius/__pycache__/interpolators.cpython-38.pyc
sagittarius/.ipynb_checkpoints/interpolators-checkpoint.py
