
sagittarius/.DS_Store
.DS_Store
.ipynb_checkpoints/setup-checkpoint.py
.ipynb_checkpoints/LICENSE-checkpoint
.ipynb_checkpoints/MANIFEST-checkpoint.in
sagittarius/.ipynb_checkpoints/__init__-checkpoint.py
sagittarius/.ipynb_checkpoints/sagittarius_properties-checkpoint.py
